﻿    #check .checkbox input {
                position: relative;
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            width: 20px;
            border: 2px solid #000;
            box-sizing: border-box;
            margin-right: 10px;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            opacity: .6;
            
            }
            #check .checkbox label {
                display: block;
            }
        #formAction #label {
            height: 35px;
            font-weight:bold;
        }
        
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border-radius: 0px;
            border: 1px solid black;
        }
        .select2-container--default .select2-selection--multiple{
            border-radius: 0px;
            border: 1px solid black;
            
        }
        
        .select2-selection--multiple .select2-selection__rendered {
            display: inline-block;
            overflow: hidden;
            padding-left: 8px;
            text-overflow: ellipsis;
            white-space: pre-line;
        }
            select, textarea,
            input[type="text"],
            input[type="button"],
            input[type="submit"] {
                -webkit-appearance: none;
                border-radius: 0;
            }
        
        #select_region {
            width: 100%;
            border: 1px solid black;
            height: 38px;
            padding: 5px;		
        } 
        #select_region::-ms-expand {
            display: none;
        }
        
        
        #formAction .form-group .form-control {
            border-radius: 0;
            border: 1px solid black; 
            }    
        #formAction .form-group span {
            color: #000000;
            background: none;
            border-radius: 0; 
            text-align: center;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            border-top: 1px solid black;
            width: 40px;
            
            }    
        #formAction .form-group span .t-datepicker__icon {
            width: 20px;
            vertical-align: -webkit-baseline-middle;
            fill: #4CAF50;
        
            }

        .allertPlaceholder::-webkit-input-placeholder {
            color: red;
            font-size:12px;
        }	
            
        #mapShow{
        display: none;
        }
        
        
        
        /*Карта*/
        #mapShow .map {
            width: 100%;
            height: 500px;
            padding: 0;
            margin: 0;
        }
        
        
        /*TimeLine*/
            .gallery { float: left; width: 100%; min-height: 12em; }
        .gallery.custom-state-active { background: #eee; }
        .gallery li {
            width: 100%;
            display: inline-block;
            border: 0;
            padding: 0px;

        }
        .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
        .gallery li a { float: right; }
        .gallery li img { width: 100%; cursor: move; }
        
        /*Дизайн корзины*/
        
        .trash { float: right; width: 100%; min-height: 10em; padding: 1%;background: white;border:0px;padding: 0px;}
        
        .trash h4 { line-height: 16px; margin: 0 0 0.4em; }
        
        .trash h4 .ui-icon { float: left; }
        .ui-icon{
            background-image : none;
        }
        .trash .gallery li {
            width: 20%;
            border: 0px;
            height: auto;
            text-align: center;
        }
        .trash .gallery li img {
                width: 84px;
                height: 84px;
                border-radius: 50%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                border: 2px solid rgb(76, 175, 80);
                margin-bottom: 5%;
            }
        .trash li img:hover:before{box-shadow: 0 0 0 10px rgba(0,0,0,.2)}
        .trash ui-widget-header
        .trash .gallery h5 { 
            /*display: none;*/
            font-size: 0.7em;
            background: none;
            border: 0;
        }
            .trash .gallery li {
            position: relative;
            font-variant: small-caps;
            font-weight: bold;
            cursor: pointer;
            }
            .trash .gallery li:before {
                position: absolute;
                width: 100%;
                height: 2px;
                background: #d4d4d4;
                content: "";
                right: 13px;
                transition: .3s ease-in-out;
                top: 38%;
            }
            .trash .gallery li:after {
                position: absolute;
                height: 10px;
                content: "";
                left: 47%;
                top: 37%;
                width: 10px;
                border-radius: 50%;
                background: #4CAF50;
            }
            /*#trash li:last-child:after {content: none;}*/
            .trash li #infoPoint, #listitems .gallery #infoPoint, .map #infoPoint  {
                font-size: 0.8em;
                font-family: Roboto;
                color: #9E9E9E;
                font-weight: 400;
                text-align: left;
                font: -webkit-pictograph;
                /*margin-bottom: 5%;*/
                /*margin-top: 8px;*/
            }
            
            .ymaps-2-1-64-balloon__content {
                position: relative;
                z-index: 1;
                display: block;
                min-width: 60px;
                height: 100%;
                min-height: 15px;
                margin: 0;
                padding: 10px 12px;
                background: #fff;
                font: -webkit-body;
            }
            
            
            
            .trash .gallery li {
                vertical-align: top;
                /*height: 250px;*/
                height: auto;
                width: 220px;
                min-width: 220px;
            }
            .ui-icon-del, .ui-icon-add, .ui-icon-detail  {
                width: 33px;
                color: white;
                border-radius: 2px;
                text-align: center;
                cursor: pointer;
                text-indent: 0;
                height: auto;
                margin: 5px;
                border: 0px;
                background-image : none;
            }
            .ui-icon-del {
                background: #cc0000;
            }
            .ui-icon-add {
                background: #4CAF50;
            }
            .ui-icon-detail {
                background: #dddddd;
                
                
            }
            .ui-icon-detail div {
                height: 20px;
                width: 20px;
            }
            
            .ui-widget.ui-widget-content {
                    border: 0;
            }
            
        
        /*Дергаем элемент*/
        .ui-widget-header,
        .ui-state-highlight {
            border: none;
            background: none;
            font-size : 0.8em;
        }
        #menu {
            padding: 0px;
            /*border: 1px solid #E0E0E0;*/
        }
        
        
        /**/
        #menu .titleListItem {
            color: #020202;
            background: #ffffff;
            border-radius: 3px;
            cursor: pointer;
            font-size: 11pt;
            
        }
        /*#menu #gallery*/
        #menu .titleListItem ul {
            max-height: 500px;
            height: 500px;
            overflow: auto;
            display: block;
            padding:0;
            position: relative;
        }
        /*Скролл*/
        #menu .titleListItem ul::-webkit-scrollbar {
            width: 5px;
            float: right;
        }
        #menu .titleListItem ul::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 5px!important;
            -webkit-border-radius: 5 !important;
            -o-border-radius: 5 !important;
            -moz-border-radius: 5 !important;
            -khtml-border-radius: 5 !important;
            border: 0;
            -webkit-appearance: none;
        }
        #menu .titleListItem ul::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,.4);
            /*outline: 1px solid slategrey;*/
            border-radius: 5px!important;
            -webkit-border-radius: 5 !important;
            -o-border-radius: 5 !important;
            -moz-border-radius: 5 !important;
            -khtml-border-radius: 5 !important;
            border: 0;
            -webkit-appearance: none;
            float: right;
        }
        
        
        #workTimeText,  #workTelnumber, #adressPointText {
            width:84%;
            display: inline-block;
            /*height: 20px;*/
            vertical-align: top;
        }
        
        #tabs .trash .gallery::-webkit-scrollbar {
            height: 5px;
            float: right;
        }
        #tabs .trash .gallery::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 5px!important;
            -webkit-border-radius: 5 !important;
            -o-border-radius: 5 !important;
            -moz-border-radius: 5 !important;
            -khtml-border-radius: 5 !important;
            border: 0;
            -webkit-appearance: none;
        }
        #tabs .trash .gallery::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,.4);
            /*outline: 1px solid slategrey;*/
            border-radius: 5px!important;
            -webkit-border-radius: 5 !important;
            -o-border-radius: 5 !important;
            -moz-border-radius: 5 !important;
            -khtml-border-radius: 5 !important;
            border: 0;
            -webkit-appearance: none;
            float: right;
        }
        
        
        .trash .gallery #ratingPointColor {
            color: #EF9A9A;
            position:relative;
            top: -21px;
            zoom:0.8;
        }
        
        #menu .gallery #ratingPointColor, .map  #ratingPointColor {
            color: #EF9A9A;
            position:relative;
            top: -19px;
            zoom:0.8;
        }
        #ratingPointDefailColor {
            position:relative;
            zoom:0.8;
        }
        #icondetail{
            display : inline-block;
            
        }
        #iconLocated {
            width: 20px;
            height: 20px;
            display:inline-block;
            vertical-align: middle;
        }
        
        #textLocated {
            display:inline-block;
            margin-bottom: 20px;
        }
        #textInOut{
            padding: 10px;
            background: #efefef;
            margin: 0px 10px;
            border-radius: 5px;
            display: inline-block;
            font-size: 13px;
        }

        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
            border: 0;/*1px solid #9E9E9E;*/
            background: #efefef;
            font-weight: normal;
            color: #9E9E9E;
            border-radius: 5px;
        }

        .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
            border: 0;
            /*border: 1px solid #9E9E9E;*/
            background: #9E9E9E;
            font-weight: normal;
            color: #ffffff;
            border-radius: 5px;
        }

        
        #titllePoint {
            background: #00000078;
            position: absolute;
            top: 86%;
            width: 100%;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            
        }
        
        
        #pointTitle {
            position: absolute;
            top: 70%;
            background: #00000054;
            width: 90%;
            border-radius: 5px;
            color: white;
            margin: 0px 10px;
            padding: 0px 7px;
        }
        
        #saleSpan{
            position: absolute;
            background: #EF9A9A;
            color: white;
            border-radius: 5px;
            padding: 2px;
            font-size: 14px;
            top: 10px;
            left: 5px;
            width: 100px;
            height: 30px;
            text-align: center;
        }
        #saleSpan span{
            vertical-align: baseline;
        }
        #titlePoint {
            width: 67%;
            display: inline-block;
            vertical-align: top;
            padding: 5px;
        }
        #fotoPoint {
            width: 30%;
            display: inline-block;
            vertical-align: top;
            padding: 5px;
        }
        /*Категория*/
        #categoryaPoints {
            margin-bottom: 1%;
        }
        
        #category{
            max-width: 100%;
            padding: 5px 15px;
            display: flex;
            width: 100%;
            overflow: auto;
            scroll-behavior: auto;	
            margin-bottom: 1%;
        }
        
        
        #category::-webkit-scrollbar {
            float: right;
            height: 10px;
        }
        #category::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 5px!important;
            -webkit-border-radius: 5 !important;
            -o-border-radius: 5 !important;
            -moz-border-radius: 5 !important;
            -khtml-border-radius: 5 !important;
            border: 0;
            -webkit-appearance: none;
        }
        #category::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,.4);
            /*outline: 1px solid slategrey;*/
            border-radius: 5px!important;
            -webkit-border-radius: 5 !important;
            -o-border-radius: 5 !important;
            -moz-border-radius: 5 !important;
            -khtml-border-radius: 5 !important;
            border: 0;
            -webkit-appearance: none;
            float: right;
        }
        
        
        
        
        
        #iconCategory {
            text-align : center;
            width: 83px;
        }


        #titleCategory {
            font-size: 10px;
            text-align: center;
            width: 100%;
            word-wrap: initial;
        }
        #categoryCount {
            position: absolute;
            font-size: 12px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: #ef9a9a;
            color: white;
            top: -40px;
            right: 15px;
            text-align: center;			
        }
        .categoryItems {
            width: 100px;
            border-right: 1px solid #E0E0E0;
            padding: 5px;
            cursor: pointer;
            display: inline-block;
        }
        .categoryItems:hover #iconCategory svg {
            color: #4CAF50;
        }
        .categoryItems:hover #titleCategory {
            color: #4CAF50;
        }
        
        #iconCategory svg {
            color: #9E9E9E;
        }

        .categoryItems #iconCategory svg .active {
            color: #4CAF50;
        }
        
        
        .categoryItems active #iconCategory svg{
            color: #4CAF50;
        }
        
        
        

    /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////IPAD*/

    /*////////////////////////////////////////////////////////////////////////Ipad Pro Lenovo Альбом*/

        @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (orientation: landscape) {

        }
        
    /*////////////////////////////////////////////////////////////////////////Ipad Альбом*/

        @media screen and (max-device-width: 1025px) and (orientation: landscape) {
            .trash li #infoPoint, #listitems .gallery #infoPoint {
                zoom : 0.9;
            }
        }
        
    /*////////////////////////////////////////////////////////////////////////Ipad Портрет*/

        @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            .trash li #infoPoint, #listitems .gallery #infoPoint {
                zoom : 0.9;
            }
        }

        
    /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////IPHONE 6/6+*/

    /*////////////////////////////////////////////////////////////////////////Iphone 6 Альбом*/

        @media screen and (max-device-width: 667px) and (orientation: landscape) {
        }
        
    /*////////////////////////////////////////////////////////////////////////Iphone 6 Портрет*/

        @media screen and (max-device-width: 375px) and (orientation: portrait) {
        }
        
        
    /*////////////////////////////////////////////////////////////////////////Iphone 6+ Альбом*/

        @media screen and (min-device-width: 700px) and (max-device-width: 736px) and (orientation: landscape) {
        }

    /*////////////////////////////////////////////////////////////////////////Iphone 6+ Портрет*/
        @media screen and (min-device-width: 376px) and (max-device-width: 414px) and (orientation: portrait) {
        }